.main {
  width: 1098px;
  background-color: hsl(0, 5%, 96%);
  display: flex;
  justify-content: space-between;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 8px;
}

small {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

input,
textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.underlined {
  text-decoration: underline;
  border: 0.1px solid #1a1a1a;
  margin-bottom: 77px;
}

.container {
  padding: 47px 150px;
  font-family: "Helvetica Neue";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  color: #1a1a1a;
  font-style: normal;
}

.page_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29.3px;
}

.pagination {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.name_container,
.date {
  display: flex;
  justify-content: space-between;
}

.name_container input[type="text"],
.date input {
  width: 371px;
  padding: 10px;
  box-sizing: border-box;
  height: 48px;
  border-radius: 4px;
  float: left;
}

.uploading_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.uploading_container p {
  margin-right: 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
}

.uploading_container label {
  width: 107px;
  height: 27px;
  border-radius: 4px;
  background-color: #0e80bf;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  margin-top: 10px;
}

.uploading_container input[type="file"] {
  width: 107px;
  height: 27px;
  border-radius: 4px;
  background-color: #0e80bf;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.about_container textarea,
.description_container textarea {
  width: 798px;
  height: 103px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.description_container textarea {
  height: 123px;
}

.email input,
.number input,
.position input,
.employeer input {
  width: 798px;
  height: 48px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.number {
  margin-bottom: 189px;
}

.button_container {
  display: flex;
  justify-content: space-between;
}

.next_button_container {
  display: flex;
  justify-content: flex-end;
}


/* .addExperienceButton {
  width: 289px;
  height: 48px;
  font-weight: 500;
  padding: 18px 40px;
  gap: 20px;
  color: #fff;
  background-color: #62a1eb;
  border-radius: 4px;
  display: flex;
  align-items: center;
} */

.resume_container {
  width: 822px;
}
