.main_container {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue";
  font-style: normal;
  padding: 68px 75px 68px 80px;
}

.personal_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_container {
  width: 432px;
}

.right_container {
  width: 230px;
  height: 100px;
}

.fullname {
  height: 42px;
  width: auto;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #f93b1d;
  max-width: 432px;
  margin-bottom: 17px;
}

.email,
.mobile {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
}

.mobile {
  margin-bottom: 34px;
}

.about_header,
.experience_header {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
  margin-bottom: 15px;
}

.about_section {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  max-width: 432px;
  height: auto;
}

