/*  */

.label {
  font-weight: bold;
  margin-bottom: 8px;
}

.input,
select {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 371px;
  padding: 10px;
  box-sizing: border-box;
  height: 48px;
  border-radius: 4px;
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type="file"] {
  width: 107px;
  height: 27px;
  border-radius: 4px;
  background-color: #0e80bf;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}


.input.valid {
  border: 2px solid green;
}

.input.invalid {
  border: 2px solid red;
}
.label.valid {
  color: green;
}

.label.invalid {
  color: red;
}
